@model Website.Models.Spotify.GetTracksViewModel

<h2 class="float-left">Step 3</h2>
<a class="float-right btn btn-primary btn-lg text-white" id="get-tracks">Get Tracks</a>

<div class="clearfix">Retrieve the tracks from the selected playlists.</div>

<ul class="border">
    <li>On request, get all the songs in selected playlists.</li>
    <li>Present complete list of (unique) songs in checkable list, preselected.</li>
    <li>
        Add clustering controls to page
        <ul>
            <li>Desired playlist count</li>
            <li>Minimum playlist size</li>
            <li>Similarity strictness</li>
        </ul>
    </li>
</ul>

@if (Model != null)
{
    <hr />

    <div id="tracks" class="row">
        @foreach (var track in Model.Tracks)
        {
            <div class="col-4 list-group-item">
                <!-- Default checked -->
                <div class="checkbox checkbox-css">
                    <input type="checkbox" id="@track.ID" value="@track.ID" checked="checked">
                    <label for="@track.ID">@track.Name <br /> <i>@track.Artist</i></label>
                </div>
            </div>
        }
    </div>
}